.dotMid {
  transition: background 2s;
  color: white;
  font-weight: 600;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  font-size: 2em;
  font-style: oblique;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  &:hover {
    background: rgb(49, 118, 240);
    -webkit-transition: background 1000ms linear;
    -ms-transition: background 1000ms linear;
    transition: background 1000ms linear;
  }
}

img {
  height: 70px;
  width: 70px;
}
.variable-binding {
  border: 1px solid whitesmoke;
  padding: 12px;
  border-radius: 8px;
}
.imgLikedUsers {
  height: 30px !important;
  width: 30px !important;
}
.userCommentBox {
  padding: 12px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.commentsUserImg {
  height: 50px !important;
  width: 50px !important;
}
