.authCard {
  padding: 20px;
}

.prl {
  padding-right: 35px;
  padding-left: 35px;
}
.pd-20 {
  padding: 20px;
}
.loginLogo {
  background-color: #1d2033;
}
::ng-deep.mat-dialog-container {
  padding: 0 !important;
}
