<div fxLayout fxLayout.lt-lg="column">
  <div class="loginLogo" fxFlex="50%" fxFlex.lt-lg="100%" fxLayout="column">
    <div fxFlex>
      <lottie-player
        src="../../../assets/json/lf20_yupefrh2.json"
        background="transparent"
        speed="1"
        style="width: 100%"
        loop
        autoplay
      ></lottie-player>
    </div>
  </div>

  <form
    #login="ngForm"
    (ngSubmit)="onLogin(login)"
    fxFlex
    fxFlex.lt-lg="100%"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <div>
      <div fxLayout="column" class="authCard">
        <h1>Login</h1>
        <p class="text-muted mb-30">Login to manage your account</p>
        <mat-form-field
          color="primary"
          class="example-full-width"
          appearance="fill"
        >
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            autocomplete="email"
            name="emailId"
            ngModel
          />
        </mat-form-field>
        <mat-form-field
          color="primary"
          class="example-full-width"
          appearance="fill"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            autocomplete="current-password"
            type="password"
            name="password"
            ngModel
          />
          <mat-error>Invalid credentials</mat-error>
        </mat-form-field>
        <button
          class="custom-btn mt-20"
          fxFlex
          mat-raised-button
          color="accent"
        >
          Login
        </button>
      </div>
    </div>
  </form>
</div>
