<div class="homePage">
  <app-navbar></app-navbar>
  <div class="contentMain" fxLayout fxLayout.lt-lg="column" fxLayoutGap="10%">
    <div fxFlex="50%">
      <div fxLayout="column" fxLayoutAlign="start start">
        <div
          style="font-size: 90px"
          class="mat-display-4 mt-20 mb-0 mainHeaderText text-white"
        >
          Proof&nbsp;of&nbsp;Requirement
        </div>
        <div class="mat-title text-muted pd">
          If you have to search, you’ll never know. If you know, you need only
          search
        </div>
        <div class="mat-display-1 mb-20 text-muted pd">
          Use pre-built proof of concepts for a library / methodolgy / language
          and wire in your business logic to save time
        </div>
        <div class="mat-display-1 mb-0 text-muted pd">
          Learn new technologies in a practical way
        </div>

        <div class="pd mt-40">
          <button
            class="btnExplore custom-btn"
            (click)="scroll(target)"
            mat-raised-button
            color="primary"
          >
            Explore Features
          </button>
        </div>
      </div>
    </div>
    <div fxFlex>
      <lottie-player
        src="https://assets9.lottiefiles.com/packages/lf20_1LhsaB.json"
        background="transparent"
        speed="1"
        style="width: 100%"
        loop
        autoplay
      ></lottie-player>
    </div>
  </div>

  <div class="videoContainer">
    <video autoplay muted loop id="myVideo">
      <source src="../../assets/bgC.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="langDiv">
    <div class="custom-shape-divider-bottom-1630834594">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
          opacity=".25"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
          opacity=".5"
          class="shape-fill"
        ></path>
        <path
          d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </div>
  <div
    #target
    fxLayout="row wrap"
    class="langIcons"
    fxLayoutAlign="space-around"
  >
    <img
      src="https://img.icons8.com/color/96/000000/c-programming.png"
      alt="c-programming icon"
    />
    <img
      src="https://img.icons8.com/color/96/000000/angularjs.png"
      alt="angular icon"
    />
    <img
      src="https://img.icons8.com/color/96/000000/javascript--v1.png"
      alt="js icon"
    />
    <img
      src="https://img.icons8.com/color/96/000000/stackoverflow.png"
      alt="stackoverflow"
    />
    <img src="https://img.icons8.com/color/96/000000/sass.png" alt="scss" />
    <img src="https://img.icons8.com/color/96/000000/nodejs.png" alt="nodejs" />
    <img
      src="https://img.icons8.com/color/96/000000/c-plus-plus-logo.png"
      alt="c++"
    />
  </div>

  <section fxLayout class="features">
    <div
      fxLayout
      fxLayoutAlign="center center"
      fxLayoutGap="10%"
      class="featureBox"
    >
      <div fxFlex="33%" fxLayout="column">
        <h1 class="mat-display-4 mb-20 text-white">Features</h1>
        <div fxFlex>
          <lottie-player
            src="https://assets6.lottiefiles.com/packages/lf20_moe1l8ie.json"
            background="transparent"
            speed="1"
            style="width: 100%"
            loop
            autoplay
          ></lottie-player>
        </div>
      </div>

      <div fxFlex="33%" fxLayout="column" fxLayoutGap="10%">
        <div fxLayout="column">
          <mat-icon class="custom-icon">share</mat-icon>
          <h3 class="mat-title text-white mb-10">Share your POC(s)</h3>
          <p class="text-muted">
            Share the proof of concepts that you have built hosted across
            different VCS like github,gitlab etc.
          </p>
        </div>
        <div fxLayout="column">
          <mat-icon class="custom-icon">edit</mat-icon>
          <h3 class="mat-title text-white mb-10">Request a Topic</h3>
          <p class="text-muted">
            Request Poc's from other users that you are not familiar with
          </p>
        </div>
        <div fxLayout="column">
          <mat-icon class="custom-icon">code</mat-icon>
          <h3 class="mat-title text-white mb-10">Document your POC</h3>
          <p class="text-muted">
            We provide you with an interactive markdown which has multiple
            language support for you to use.
          </p>
        </div>
      </div>

      <div fxFlex="33%" fxLayout="column" fxLayoutGap="10%">
        <div fxLayout="column">
          <mat-icon class="custom-icon">build</mat-icon>
          <h3 class="mat-title text-white mb-10">Build your Portfolio</h3>
          <p class="text-muted">
            Invite recruiters to view your profile and the Poc's you've shared.
          </p>
        </div>
        <div fxLayout="column">
          <mat-icon class="custom-icon">link</mat-icon>
          <h3 class="mat-title text-white mb-10">Build Connections</h3>
          <p class="text-muted">
            Follow other users and get automatically notified about their
            activity.
          </p>
        </div>
        <div fxLayout="column">
          <mat-icon class="custom-icon">bar_chart</mat-icon>
          <h3 class="mat-title text-white mb-10">Practical Learning</h3>
          <p class="text-muted">
            Learn new technologies by viewing Poc's rather than enrolling in
            outdated courses
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
