<div class="mt-40" fxLayout fxLayoutAlign="center">
  <div fxFlex="70%" fxLayout>
    <div fxFlex fxLayout="column" fxLayoutGap="5%">
      <div fxLayout class="headerBox">
        <div fxFlex fxLayout="column">
          <h1 class="text-white mb-0">Find Proof of Concepts by Developers</h1>
          <h3 class="text-muted">
            Search POC(s), Create your own or Request them from others.
          </h3>

          <div fxLayout class="mb-20">
            <button
              fxFlex="30%"
              routerLink="poc/create"
              color="accent"
              fxFlex="30%"
              mat-raised-button
            >
              Create Poc
            </button>
          </div>
          <div fxLayout>
            <button
              fxFlex="30%"
              (click)="requestPoc()"
              color="primary"
              fxFlex="30%"
              mat-raised-button
            >
              Request Poc
            </button>
          </div>
        </div>
        <div fxLayout="column">
          <lottie-player
            src="https://assets3.lottiefiles.com/packages/lf20_dyuvfmoi.json"
            background="transparent"
            speed="1"
            style="width: 120px"
            loop
            autoplay
          ></lottie-player>
        </div>
      </div>

      <div class="mb-0" fxLayout fxLayoutAlign="center start" fxLayoutGap="2%">
        <mat-form-field fxFlex="90%" color="accent" appearance="fill">
          <mat-icon matPrefix>search</mat-icon>
          <mat-label>Search</mat-label>
          <input
            style="color: whitesmoke"
            matInput
            type="text"
            name="searchInput"
            [(ngModel)]="searchInput"
            (keyup)="listenKey($event)"
          />
        </mat-form-field>

        <div class="mt-10" fxFlex>
          <button
            (click)="search()"
            fxFlex
            class="mt-0"
            color="primary"
            mat-raised-button
          >
            Search
          </button>
        </div>
      </div>

      <!-- // Search filter  -->
      <mat-chip-list
        *ngIf="filterEnabled"
        [@fadeAnimation]
        aria-label="search filters"
      >
        <mat-chip
          (click)="onChipChange(0)"
          color="accent"
          [selected]="selectedChip === 0"
          >Reset Filter</mat-chip
        >
        <mat-chip
          (click)="onChipChange(1)"
          color="accent"
          [selected]="selectedChip === 1"
          >Search by Title</mat-chip
        >
        <mat-chip
          (click)="onChipChange(2)"
          color="accent"
          [selected]="selectedChip === 2"
          >Search by Tags</mat-chip
        >
        <mat-chip
          (click)="onChipChange(3)"
          color="accent"
          [selected]="selectedChip === 3"
          >Search by User</mat-chip
        >
      </mat-chip-list>
      <!-- // Search filter END HERE  -->

      <mat-tab-group
        style="min-height: 800px"
        mat-stretch-tabs
        class="mat-elevation-z4"
      >
        <mat-tab label="POC(s) List">
          <div class="mb-60 mt-20" fxLayout="column" fxLayoutGap="3%">
            <section *ngIf="selectedChip === 0">
              <!-- // Search by Title  -->

              <div [@listAnimation]="allPoc.length">
                <div
                  fxLayout
                  fxLayoutAlign="start center"
                  fxLayoutGap="5%"
                  class="infoBox mb-10"
                  *ngFor="let item of allPoc"
                  @fadeAnimation
                >
                  <div
                    fxFlex="7%"
                    fxlayout="column"
                    fxLayoutAlign="center center"
                    class="dotMid"
                  >
                    Poc(s)
                  </div>
                  <div fxLayout="column">
                    <h5 class="text-muted mb-0">User</h5>
                    <h2 class="text-white">
                      {{ item.user.firstName + ' ' + item.user.lastName }}
                    </h2>
                  </div>
                  <div fxFlex="30%" fxLayout="column">
                    <h5 class="text-muted mb-0">Title</h5>
                    <h2
                      fxFlex
                      style="max-width: 30px; text-overflow: ellipsis"
                      class="text-white"
                    >
                      {{ item.title }}
                    </h2>
                  </div>
                  <div fxFlex="" fxLayout="column">
                    <h5 class="text-muted mb-0">Created On</h5>
                    <h3 class="text-muted">
                      {{ item.createdAt | date }}
                    </h3>
                  </div>
                  <!-- // Action button  -->
                  <div fxLayout="column" fxLayoutGap="3%">
                    <button
                      (click)="viewPoc(item.proofOfConceptId)"
                      mat-stroked-button
                      color="primary"
                    >
                      View more
                    </button>
                    <button
                      *ngIf="item.isCreatedByLoggedInUser"
                      (click)="editPoc(item.proofOfConceptId)"
                      mat-stroked-button
                      color="accent"
                    >
                      Edit
                    </button>
                    <button
                      *ngIf="!item.isCreatedByLoggedInUser"
                      (click)="
                        reportPoc(item.proofOfConceptId, item.user.firstName)
                      "
                      [disabled]="item.isReportedByLoggedInUser"
                      class="reportBtn"
                      mat-stroked-button
                    >
                      Report
                    </button>
                  </div>
                </div>
              </div>
              <!-- // by Title end here  -->
            </section>
            <section *ngIf="selectedChip === 1">
              <!-- // Search by Title  -->
              <h1
                class="text-white mb-40"
                fxLayout
                fxLayoutAlign="center center"
              >
                <mat-icon color="primary" class="mb-0 mr-10">title</mat-icon>
                Search by Title
              </h1>
              <mat-divider class="mb-40"></mat-divider>
              <div [@listAnimation]="byTitle.length">
                <div
                  fxLayout
                  fxLayoutAlign="start center"
                  fxLayoutGap="5%"
                  class="infoBox mb-10"
                  *ngFor="let item of byTitle"
                >
                  <div
                    fxFlex="5.4%"
                    fxlayout="column"
                    fxLayoutAlign="center center"
                    class="dotMid"
                  >
                    <h4 class="mat-caption">POC's</h4>
                  </div>
                  <div fxLayout="column">
                    <h5 class="text-muted mb-0">User</h5>
                    <h1 class="text-white">
                      {{ item.user.firstName + ' ' + item.user.lastName }}
                    </h1>
                  </div>
                  <div fxLayout="column">
                    <h5 class="text-muted mb-0">Title</h5>
                    <h1 class="text-white">{{ item.title }}</h1>
                  </div>
                  <div fxFlex fxLayout="column">
                    <h5 class="text-muted mb-0">Created On</h5>
                    <h3 class="text-muted">
                      {{ item.createdAt | date }}
                    </h3>
                  </div>
                  <!-- // Action button  -->
                  <button
                    (click)="viewPoc(item.proofOfConceptId)"
                    mat-stroked-button
                    color="primary"
                  >
                    View more
                  </button>
                  <button
                    *ngIf="item.isCreatedByLoggedInUser"
                    (click)="editPoc(item.proofOfConceptId)"
                    mat-stroked-button
                    color="accent"
                  >
                    Edit
                  </button>
                  <button class="reportBtn" mat-stroked-button>Report</button>
                </div>
              </div>
              <!-- // by Title end here  -->
              <h3 *ngIf="byTitle.length === 0" class="text-muted text-center">
                No Poc's found by Title
              </h3>
            </section>
            <section *ngIf="selectedChip === 2">
              <!-- // Search by Tags  -->
              <h1
                class="text-white mb-40"
                fxLayout
                fxLayoutAlign="center center"
              >
                <mat-icon color="primary" class="mb-0 mr-10">tags</mat-icon>
                Search by Tags
              </h1>
              <mat-divider class="mb-40"></mat-divider>
              <div [@listAnimation]="byTags.length">
                <div
                  fxLayout
                  fxLayoutAlign="start center"
                  fxLayoutGap="5%"
                  class="infoBox"
                  *ngFor="let item of byTags"
                >
                  <div
                    fxFlex="5.4%"
                    fxlayout="column"
                    fxLayoutAlign="center center"
                    class="dotMid"
                  >
                    POC's
                  </div>
                  <div fxLayout="column">
                    <h5 class="text-muted mb-0">User</h5>
                    <h2 class="text-white">
                      {{ item.user.firstName + ' ' + item.user.lastName }}
                    </h2>
                  </div>
                  <div fxFlex fxLayout="column">
                    <h5 class="text-muted mb-0">Title</h5>
                    <h2 class="text-white">{{ item.title }}</h2>
                  </div>
                  <div fxFlex fxLayout="column">
                    <h5 class="text-muted mb-0">Created On</h5>
                    <h3 class="text-muted">
                      {{ (item.createdAt | date) || '--' }}
                    </h3>
                  </div>
                  <button mat-stroked-button color="primary">View more</button>
                </div>
              </div>
              <!-- // Tag end here  -->
              <h3 *ngIf="byTags.length === 0" class="text-muted text-center">
                No Poc's found by Tags
              </h3>
            </section>
            <section *ngIf="selectedChip === 3">
              <!-- // Search by People  -->
              <h1
                class="text-white mb-40"
                fxLayout
                fxLayoutAlign="center center"
              >
                <mat-icon color="primary" class="mb-0 mr-10">person</mat-icon>
                Search by People
              </h1>
              <mat-divider class="mb-40"></mat-divider>
              <div>
                <div
                  fxLayout="row wrap"
                  fxLayoutAlign="start center"
                  fxLayoutGap="5%"
                  [@listAnimation]="allPoc.length"
                >
                  <!-- // Info Box Start Here  -->
                  <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    fxLayoutGap="3%"
                    class="infoBox mb-10"
                    *ngFor="let item of byUser"
                    fxFlex="29.66%"
                  >
                    <div fxlayout fxLayoutAlign="center center" class="dotMid">
                      <img src="{{ item.profileImageUrl }}" alt="" />
                    </div>
                    <div fxFlex fxLayout="column">
                      <h5 class="text-muted mb-0 text-center">User</h5>
                      <h4 class="text-white">
                        {{ item.firstName }} {{ item.lastName }}
                      </h4>
                    </div>
                    <button
                      routerLink="/dashboard/user/{{ item.id }}"
                      mat-stroked-button
                      color="primary"
                    >
                      View profile
                    </button>
                  </div>
                  <h3
                    class="text-muted text-center"
                    *ngIf="byUser.length === 0"
                  >
                    No Users found
                  </h3>
                  <!-- // Box End here  -->
                </div>
              </div>
            </section>
          </div>
        </mat-tab>
        <mat-tab label="Requested POC(s)">
          <!-- // Request List  -->
          <div fxFlex class="mb-60" fxLayout="column">
            <mat-divider class="mb-40"></mat-divider>
            <div [@listAnimation]="allPoc.length">
              <div
                fxLayout
                fxLayoutAlign="start center"
                fxLayoutGap="5%"
                class="infoBox mb-10"
                *ngFor="let item of requestedPoc"
                @fadeAnimation
              >
                <div fxLayout="column">
                  <h5 class="text-muted mb-0">User</h5>
                  <h2 class="text-white">
                    {{ item.user.firstName + ' ' + item.user.lastName }}
                  </h2>
                </div>
                <div fxFlex="30%" fxLayout="column">
                  <h5 class="text-muted mb-0">Title</h5>
                  <h2
                    fxFlex
                    style="max-width: 30px; text-overflow: ellipsis"
                    class="text-white"
                  >
                    {{ item.title }}
                  </h2>
                </div>
                <div fxFlex="" fxLayout="column">
                  <h5 class="text-muted mb-0">Requested On</h5>
                  <h3 class="text-muted">
                    {{ item.createdAt | date }}
                  </h3>
                </div>
                <!-- // Action button  -->
                <div fxLayout="column" fxLayoutGap="3%">
                  <button
                    (click)="createRequestedPoc(item.id)"
                    mat-stroked-button
                    color="primary"
                  >
                    Create
                  </button>
                </div>
              </div>
            </div>
          </div></mat-tab
        >
      </mat-tab-group>
    </div>
  </div>
</div>
